In [2]:
import pandas as pd

data = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, 30, 40],
  "qualified": [True, False, False, False]
}

df = pd.DataFrame(data)
df

newdf = df.drop_duplicates()
newdf

    name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False